html{
    margin:0;
}
body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:white;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(28,47,33,1) 50%, rgba(10,189,87,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    margin-top:10vh;
    margin-bottom: 2vh;
    font-size: 5vh;
}
hr{
    width:25%;
}
path{
    fill:white;
}
#myCalendarWrapper {
    width: 40vw;
    padding: 2em 4em;
    position: relative;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 1200px){
    #myCalendarWrapper {
        width:80vw;
        padding: 5em 4em;
        position: relative;
        font-size: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
}
